@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Black.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-BlackItalic.woff2') format('woff2'),
    url('../assets/fonts/Poppins-BlackItalic.woff') format('woff');
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Bold.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/Poppins-BoldItalic.woff') format('woff');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Poppins-ExtraBold.woff') format('woff');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/Poppins-ExtraBoldItalic.woff') format('woff');
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-ExtraLight.woff2') format('woff2'),
    url('../assets/fonts/Poppins-ExtraLight.woff') format('woff');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
    url('../assets/fonts/Poppins-ExtraLightItalic.woff') format('woff');
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Italic.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Italic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Light.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-LightItalic.woff2') format('woff2'),
    url('../assets/fonts/Poppins-LightItalic.woff') format('woff');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Medium.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-MediumItalic.woff2') format('woff2'),
    url('../assets/fonts/Poppins-MediumItalic.woff') format('woff');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Poppins-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/Poppins-SemiBoldItalic.woff') format('woff');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Thin.woff2') format('woff2'),
    url('../assets/fonts/Poppins-Thin.woff') format('woff');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-ThinItalic.woff2') format('woff2'),
    url('../assets/fonts/Poppins-ThinItalic.woff') format('woff');
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

html {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
}

body>* {
  font-family: inherit;
  background-color: var(--color__grey-1);
}

button,
a {
  cursor: pointer;
  transition: all ease-in-out 0.25s;
}

/* STYLES-SECTION: color scheme */

:root {
  --color__text-1: #333333;
  --color__text-2: #444444;
  --color__title: #45525b;
  --color__icon: #3a4443;
  --color__orange-1: #ff8a63;
  --color__orange-2: #f0511c;
  --color__grey-1: #fafafc;
  --color__grey-2: #caccd1;
  --color__grey-3: #292c32;
  --color__grey-4: #444444;
  --color__yellow:#ffe736;
  --color__bg: rgba(250, 250, 252, 0.78);
  --color__white: #ffffff;
  --color__black: #000000;

  --shadow-1: 0px 3px 15px rgba(0, 0, 0, 0.03);
}

/* !STYLES-SECTION */

/* STYLES-SECTION:page */

.page-wrapper {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-inner {
  flex: 1 1 auto;
  position: relative;
}
.top-bar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.header {
}
.main {
}
.footer {
  flex: 0 0 auto;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container.--s {
  padding: 0 2.75rem;
  max-width: 1760px;
}
.container.--xl {
  padding: 0 2.25rem;
  max-width: 525px;
}

/* !STYLES-SECTION:page */

/* STYLES-SECTION: top-bar */
.top-bar {
  background-color: var(--color__grey-1);
  padding: 1rem 0;
}

.top-bar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__logo {
  width: 6.25rem;
  height: 2.25rem;
  color: var(--color__title);
}

.top-bar__logo:visited {
  color: var(--color__title);
}

.top-bar__logo:hover {
  color: var(--color__orange-1);
}
.top-bar__logo:focus {
  outline: transparent;
}
.top-bar__logo:focus-visible {
  color: var(--color__orange-2);
}
.top-bar__logo:active {
  color: var(--color__orange-1);
}

.top-bar__list {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.top-bar__list-item {
}

.top-bar__list-item + .top-bar__list-item {
  margin-left: 3rem;
}

.top-bar__link {
  text-decoration: none;
  color: var(--color__text-2);
  line-height: 1;
}

.top-bar__link:visited {
  color: var(--color__title);
}

.top-bar__link:hover {
  color: var(--color__orange-1);
}

.top-bar__link:focus {
  outline: transparent;
}

.top-bar__link:focus-visible {
  text-decoration: underline;
}
.top-bar__link:active {
  color: var(--color__orange-2);
}

.top-bar__btn {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border: none;
  background-color:transparent;
  appearance: none;
  color: var(--color__grey-4);
  margin-left: 3rem;
  position: relative;
}

.top-bar__btn:hover {
color: var(--color__orange-1);
}
.top-bar__btn:focus {
  outline: transparent;
}
.top-bar__btn:focus-visible {
  color: var(--color__orange-2);
}
.top-bar__btn:active {
color: var(--color__yellow);
}

.top-bar__btn-icon {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.top-bar__btn.--mobile {
  padding: 0;
  height: 2rem;
  display: none;

}
@media screen and (max-width: 1023px){
  .top-bar__btn.--mobile{
  display: block;
  }
}

.top-bar__burger-row {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 0.25rem;
  background-color: currentColor;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
}

.top-bar__burger-row:nth-child(2){
  top: 50%;
  transform: translateY(-20%);
}
.top-bar__burger-row:nth-child(3){
  top: 100%;
}
/* !STYLES-SECTION: top-bar */

/* STYLES-SECTION: logo */
.logo {
  display: block;
}

.logo__inner {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
/* !STYLES-SECTION: logo */

/* STYLES-SECTION: header */
.header {
  min-height: calc(100vh - 5.25rem);
  position: relative;
  }

  .header::after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--color__bg);
  }
.header__video {
  position: absolute;
  height: 100%;
  width: 100%;
      left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
}

.header__video-content{
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
.header__wrapper {
  position: relative;
  z-index: 2;
  height: 100%;
  background-color: transparent;
  }

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 5.25rem);
  height: 100%;
  padding: 3.75rem 0;
}
.header__title-wrapper{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-size: 0;
}
.header__logo {
display: block;
height: 6.5rem;
width: 8rem;
}
.header__text {
  font-size: 2rem;
  line-height: 1.4;
  margin-top: 1.25rem;
  text-align: center;
  color: var(--color__title);
}
.header__link {
  display: block;
  margin-top: auto;
  height: 5rem;
  width: 5rem;
}

.header__link-icon{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  animation-name: arrow-down;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  }

@keyframes arrow-down{
  from{
    transform: translateY(0);
  }
to{
  transform:translateY(25%);
}
}
/* !STYLES-SECTION: header */


/* STYLES-SECTION: footer */
.footer{
  padding: 6.25rem 0;
  background-color: var(--color__grey-3);
  color: var(--color__white);
}
.footer__logo-link{
  color: var(--color__white);
  display: block;
  height: 3.75rem;
  width: 10rem;
  margin: 0 auto;
}

.footer__logo-link:hover{
  color: var(--color__orange-1);
}
.footer__logo-link:focus{
  outline: transparent;
}
.footer__logo-link:focus-visible{
  color: var(--color__orange-2);
}
.footer__logo-link:active{
  color: var(--color__yellow);
}
.footer__inner{}

.footer__bottom{
margin-top: 1.75rem;
display: flex;
justify-content: space-between;
align-items: center;
}

.footer__social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__social-item {
  
}
.footer__social-item +.footer__social-item {
margin-left: 1.25rem;
}
.footer__social-link {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  color: var(--color__white);
}
.footer__social-link:hover {
  color: var(--color__orange-1);
}
.footer__social-link:focus {
  outline: transparent;
}
.footer__social-link:focus-visible {
  color: var(--color__orange-2);
}
.footer__social-link:active {
  color: var(--color__yellow);
}
.footer__social-icon {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
/* !STYLES-SECTION: footer */
